.svg-arrow-pagination-dims {
    width: 22px;
    height: 8px;
}

.svg-btn-menu-dims {
    width: 30px;
    height: 19px;
}

.svg-facebook-icon-dims {
    width: 9px;
    height: 20px;
}

.svg-icon-arrow-dims {
    width: 18px;
    height: 32px;
}

.svg-icon-building-dims {
    width: 57px;
    height: 57px;
}

.svg-icon-clock-black-dims {
    width: 14px;
    height: 14px;
}

.svg-icon-door-dims {
    width: 28px;
    height: 40px;
}

.svg-icon-download-dims {
    width: 20px;
    height: 21px;
}

.svg-icon-enginer-dims {
    width: 50px;
    height: 60px;
}

.svg-icon-filter-dims {
    width: 22px;
    height: 23px;
}

.svg-icon-floors-dims {
    width: 36px;
    height: 40px;
}

.svg-icon-gallery-dims {
    width: 40px;
    height: 34px;
}

.svg-icon-garanty-dims {
    width: 40px;
    height: 41px;
}

.svg-icon-home-dims {
    width: 40px;
    height: 40px;
}

.svg-icon-lamp-dims {
    width: 37px;
    height: 40px;
}

.svg-icon-map-dims {
    width: 11px;
    height: 15px;
}

.svg-icon-medal-dims {
    width: 40px;
    height: 40px;
}

.svg-icon-message-dims {
    width: 16px;
    height: 12px;
}

.svg-icon-mobPhone-dims {
    width: 14px;
    height: 19px;
}

.svg-icon-mobphone-black-dims {
    width: 11px;
    height: 15px;
}

.svg-icon-number-14-dims {
    width: 43px;
    height: 53px;
}

.svg-icon-perekrt-dims {
    width: 36px;
    height: 40px;
}

.svg-icon-phone-dims {
    width: 25px;
    height: 25px;
}

.svg-icon-phone-black-dims {
    width: 13px;
    height: 14px;
}

.svg-icon-roof-dims {
    width: 40px;
    height: 40px;
}

.svg-icon-search-dims {
    width: 19px;
    height: 19px;
}

.svg-icon-select-arrow-dims {
    width: 7px;
    height: 7px;
}

.svg-icon-stairs-dims {
    width: 40px;
    height: 40px;
}

.svg-icon-tool-dims {
    width: 34px;
    height: 40px;
}

.svg-icon-truck-dims {
    width: 40px;
    height: 30px;
}

.svg-icon-viber-black-dims {
    width: 17px;
    height: 14px;
}

.svg-icon-walls-dims {
    width: 40px;
    height: 40px;
}

.svg-icon-window-dims {
    width: 40px;
    height: 40px;
}

.svg-instagram-icon-dims {
    width: 20px;
    height: 20px;
}

.svg-logo-dims {
    width: 182px;
    height: 70px;
}

.svg-map-tab-dims {
    width: 24px;
    height: 24px;
}

.svg-map-tab--active-dims {
    width: 24px;
    height: 24px;
}

.svg-marker-dot-dims {
    width: 10px;
    height: 10px;
}

.svg-pagination-home-dims {
    width: 40px;
    height: 40px;
}

.svg-project-form-icon-dims {
    width: 61px;
    height: 56px;
}

.svg-score-icon-dims {
    width: 19px;
    height: 19px;
}

.svg-tringle-decor-dims {
    width: 39px;
    height: 22px;
}

.svg-vk-icon-dims {
    width: 23px;
    height: 13px;
}

